<%- include('partials/header') %>
    <img src="<%= animeToGuess.image %>" alt="Guess the Anime" class="img-fluid">

    <div class="propositions">
        <form id="quizForm" action="/quiz" method="POST">
            <input type="hidden" id="titleToGuess" value="<%= animeToGuess.title_english %>">
            <input type="hidden" id="score" name="score" value="<%= animeScore %>">
            <input type="hidden" name="mode" value="anime">
            <% for(let i=0 ; i<titles.length; i++) { %>
                <button type="button" class="animeBtn" data-title="<%= titles[i] %>">
                    <%= titles[i] %>
                </button>
                <% } %>
        </form>
    </div>

    <%- include('partials/footer') %>